<div class="current-user-answer <%= "answered" if current_user.answered_today? %>">
  <div class="current-user-answered">
    <h3>You said:</h3>
    <p>
      <%= sanitize(simple_format(current_user.users_current_answer.body), :tags => %w(br p) )%>
    </p>
    <span class="edit-answer fake-link">Edit your answer</span>
  </div>
  <div class="current-user-not-answered">
    <%= render "answers/new" %>
  </div>
</div>