<div class="row container bigbox">
  <div class="span4 left-span-content">

    <h1>Welcome to the archives!</h1>

  </div>

  <div class="span7">

    <% @questions.each do |question| %>
      <div class="question-slot">
        <div class="question-slot-body">
          <%= question.body %>
        </div>
        <div class="question-slot-count">
          <%= question.answers.count %> answers.
        </div>
        <%= link_to "Read the answers!", question %>
      </div>
    <% end %>


  </div>
</div>
