<div class="row container bigbox">
  <div class="span4 left-span-content">
    <% unless @question.nil? %>
      <h1><%= @question.body %></h1>
      <p><%= @question.info %></p>
    <% else %>
      <h1>No question.</h1>
    <% end %>
  </div>

  <div class="span7">
    <% unless @question.answers.empty? %>
      <% @question.answers.each do |answer| %>

        <%= render :partial => 'answers/uneditable_answer',
                   :locals => { :answer => answer } %>

      <% end %>
    <% end %>
  </div>
</div>