.row.container.bigbox
  .span4.left-span-content
      %h1 What is the TQ?

  .span7
    %p The TQ is a place where you can learn about other people
    %p It started as a listserv many years ago and has changed forms a few times since. Making it a functional web app is an effort to give it a permanent home.
    %p Participation is rewarded. Points are given for posting answers and being a member of the community.
    %p Ideas can be emailed to info at thetq dot net

	%h2 How does voting work?
	%p When you vote on someone's answer, you affect the score for that answer and that user's legacy score.
	%p Your points 'on-hand' diminish, but your legacy score increasing, for having voted.
