<div class="row container bigbox">
  <div class="span4 left-span-content">
      <h1>Admin Panel.</h1>
  </div>

  <div class="span7">
    <ul class="users">
      <li>
        <% if Question.question_posted? &&
              Question.todays_answers_posted? %>
          <% posted_message = "Unpost Answers" %>
        <% else %>
          <% posted_message = "Post Answers" %>
        <% end %>
        <%= button_to posted_message, post_answers_path, :class => "flat-button", 
                :method => :post, :confirm => "Are you sure you want to #{posted_message}" %>
      </li>
      <li>
        <%= button_to "Mail Out the Answers", email_answers_path,
                :class => "flat-button", :method => :post, 
                :confirm => "Mail out answers?" %>
      </li>
      <li>
        <%= link_to "Administrate Answers", admin_answers_path %>
      </li>
    </ul>
  </div>
</div>