<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      Today's answers are out!
    </p>
    <p>
      Read them here:
      <a href="http://thetq.net/questions/<%= Question.todays_question.id %>">thetq.net</a>.
    </p>
    <p>Thanks for being you and have a great day!</p>
  </body>
</html>