<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      Today's question is: <%= Question.todays_question.body %><br/>
    </p>
    <p>
      Head over yonder to answer the question and get more awesome:
      <a href="http://www.thetq.net">www.thetq.net</a>.
    </p>
    <p>Thanks for being you and have a great day!</p>
    <p>___________________________________________</p>
    <br><br>
  </body>
</html>