<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      Today's answers are out!
    </p>
    <p>
      Head over yonder to read the answers and chew on a fig:
      <a href="http://thetq.herokuapp.com">thetq.herokuapp.com</a>.
    </p>
    <p>Thanks for being you and have a great day!</p>
  </body>
</html>