<div class="row container bigbox">
  <div class="span4 left-span-content">
      <h1>Admin Panel.</h1>
  </div>

  <div class="span7">
    <ul>
      <li>
        <%= link_to "Post Answers", post_answers_path, :method => :post %>
      </li>
    </ul>
  </div>
</div>