@import "bootstrap";
// @import "boostrap-styles";

body {
 background: url('/assets/shl.png');
}

a {
  color: white;
  padding: 10px;
}
a:hover {
  text-decoration: none;
  color: gray;
}

h1 {
  text-shadow: 0px 1px 1px #4d4d4d;
}

.error {
  padding: 5px;
}

.question-slot {
  background: #1C1C1C;
  margin-bottom: 5px;
  padding: 5px;
}

.question-slot-body {
  font-size: 20px;
  float: left;
}

.question-slot-count {
  font-size: 14px;
  float: right;
}

.scoreboard {
  padding: 5px;
  background: #1C1C1C;
  margin-bottom: 10px;
}
.scoreboard-name {
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  color: #4D0000;
  float: left;
}

.scoreboard-slot {
  margin-bottom: 5px;
}

.dropdown-item {
	color: gray;
}

.scoreboard-title {
  color: #4D0000;
  padding: 5px;
  clear: left;
}

.scoreboard-score {
  color: #4D0000;
  padding: 5px;
  margin: 10px;
  float: right;
  font-size: 43px;
}


.fb-friend {
  float: right;
  font-size: 12px;
  color: white;
  // background: #3B5998;
  // border: 1px solid black;
  padding: 3px;
  margin: 3px;
  border-radius: 2px;
}

.title {
  font-size: 12px;
  color: white;
  padding: 2px;
  border-radius: 2px;
}

.user-score {
  font-size: 14px;
}


.new_comment {
  textarea {
    resize: none;
    width: 90%;
    margin: 20px;
    height: 100px;
    vertical-align: center;
    border-radius: 3px;
    box-shadow: inset 0px 0px 30px 5px #ECE1EC;
  }
  // input {
  //   float: right;
  //   margin-right: 20px;
  //   font-size: 12px;
  //   text-align: center;
  // }
}

textarea {
  resize: none;
  width: 90%;
  height: 180px;
  vertical-align: center;
  border-radius: 3px;
  box-shadow: inset 0px 0px 30px 5px #ECE1EC;
}

textarea:focus {
  box-shadow: inset 0px 0px 0px 0px #ECE1EC;
}

.form-actions {
  background: #413D3D;
  border: none;
}

.vote-form {
  div {
    display: inline;
  }
    display: inline;
  input {
    width: 35px;
    height: 35px;
    background  : none;
    cursor  : pointer;
    font-family : Helvetica;
    border-radius: 2px;
    font-size: 30px;
    color   : #fff;
    border  : none;
    margin      : 0px;
    padding     : 0px;
  }
  input:hover {
    font-size: 35px;
  }
}

.footer {
    box-shadow: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.span5 {
  margin-bottom: 15px;
  margin-top: 15px;
}
.span7 {
  margin-bottom: 15px;
  margin-top: 0px;
}

.left-span-content {
  box-shadow: 5px 0px 3px -3px #E0D4D3;
}

.alerts {
  .alert, .notice {
    background: none;
    border-radius: 0px;
    border: none;
    padding-top: 0px;
    box-shadow: none;
    opacity: 1;
  }
}

.users {
  list-style: none;
}

.span7 {
  margin-right: 10px;
  width: 580px;
}

.new-title {
  padding: 5px;
  margin-left: 110px;
  font-size: 14px;
  color: lightGray;
}

.bigbox {
  padding: 0px;
  background: black;
  color: lightGray;
  border-radius: 5px;
  padding-top: 10px;
  h1 {
    color: lightGray;
  }
}

.user-answer {
  width: 100%;
  border-radius: 5px;
  // background: #413D3D;
  background: #1C1C1C;
  margin-bottom: 12px;
  color: black;
  h1 {
    color: black;
    padding: 5px;
  }
}

.user-specific {
  border-radius: 2px;
  outline: 1px solid #E9FCFC;
  h1 {
    margin: 5px;
  }
}

.greeting {
  h1 {
    // color: black;
    float: left;
  }
  color: lightGray;
  text-shadow: 0px 1px 1px #4d4d4d;
  // color: #413D3D;
//  margin-top: 50px;
  margin-bottom: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.greeting_info {
  float: right;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 40px;
}

.navbar {
	margin-bottom: 0px;
	.brand {
		a {
			-webkit-transition-delay: 0s;
			-webkit-transition-duration: 0.20000000298023224s;
			-webkit-transition-property: all;
			-webkit-transition-timing-function: linear;
			color: gray;
			cursor: auto;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
			text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
		}
		a:hover {
			color: white;
		}
	}
}

.navbar-inverse {
  .navbar-inner {
	  background-image: none;
		background-color: #222;
	}
}

.navbar-inner {
  border-radius: 0px;
  background: #222;
  padding-top: 10px;
  a {
    padding: 10px;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}

.body-content {
  margin: auto;
}


.fake-link {
  color: white;
  padding: 10px;
}
.fake-link:hover {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}


.answer-body {
  font-size: 14px;
  padding: 10px;
  color: lightGray;
  border-bottom: 1px solid gray;
}

.answer-buttons {
  float: right;
}

.answer-header {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: lightGray;
  text-shadow: 0px 1px 1px #4d4d4d;
}

.answer-form {
  input {
    float: right;
  }
}

.pretty-button {

}.pretty-button:hover {

}.pretty-button:active {

}


.comments {
  padding: 10px;
  color: gray;
  .comment-title {
    color: lightGray;
  }
	.comment-body {
		span {
			color: white;
		}
	}
}

.commentors {
	color: gray;
	margin: 12px;
	line-height: 40px;
}

.show-comments {
  margin: 12px;
  line-height: 40px;
}

.hide-comments {
  margin: 12px;
}


.current-user-answered, .answered .current-user-not-answered {
  display: none;
}

.current-user-not-answered, .answered .current-user-answered {
  display: block;

}


.current-user-answer {
  padding: 10px;
  border-radius: 3px;
  textarea {
    resize: none;
    width: 90%;
    margin: 20px;
    height: 180px;
    vertical-align: center;
    border-radius: 3px;
    // box-shadow: inset 0px 0px 30px 5px #ECE1EC;
  }
  // input {
  //   float: right;
  //   margin-right: 20px;
  //   width: 80px;
  //   font-size: 12px;
  //   padding: 5px;
  // }
}


.comment-toggle, .comments-on.comments {
  display: block;
}

.comments, .comments-on.comment-toggle {
  display: none;
}

.comment-button {
	float: right;
}

input.flat-button {
  color: black;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  margin-right: 20px;
  background: #C2D4E0;
  border-radius: 5px;
  border: none;
  text-shadow: none;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  &:hover {
    background: #0366A1;
  }
  &:active {
    background: #4C8AC5;
  }
}