@import "bootstrap";
// @import "boostrap-styles";

body {
 background: url('/assets/shl.png');
}

a {
  color: white;
  padding: 10px;
}
a:hover {
  text-decoration: none;
  color: gray;
}


.new_comment {
  textarea {
    resize: none;
    width: 90%;
    margin: 20px;
    height: 180px;
    vertical-align: center;
    border-radius: 3px;
    box-shadow: inset 0px 0px 30px 5px #ECE1EC;
  }
  input {
    float: right;
    margin-right: 20px;
    height: 20px;
    width: 80px;
    font-size: 12px;
    text-align: center;
  }
}

textarea {
  resize: none;
  width: 100%;
  height: 180px;
  vertical-align: center;
  margin: 20px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 30px 5px #ECE1EC;
}

.form-actions {
  background: #413D3D;
  border: none;
}

.vote-form {
  div {
    display: inline;
  }
  display: inline;
  input {
    width   : 80px;
    background  : none;
    cursor  : pointer;
    font-family : 'voltaeftu-regular',Times New Roman;
    font-size   : 16px;
    color   : #fff;
    border  : none;
    margin      : 0px;
    padding     : 0px;
  }
}

.footer {
    box-shadow: none;
    background-color: black;
    color: white;
}

.greeting_info {
  // text-align: right;
  float: right;
}

.span5 {
  margin-bottom: 15px;
  margin-top: 15px;
}
.span7 {
  margin-bottom: 15px;
  margin-top: 0px;
}

.left-span-content {
  box-shadow: 5px 0px 3px -3px #E0D4D3;
}

.alerts {
  .alert, .notice {
    background: none;
    border-radius: 0px;
    border: none;
    padding-top: 0px;
    box-shadow: none;
  }
}

.users {
  list-style: none;
}

.span7 {
  margin-right: 10px;
  width: 580px;
}

.new-title {
  padding: 5px;
  margin-left: 110px;
  font-size: 14px;
  color: lightGray;
}


.container {
  padding: 0px;
  background: black;
  color: lightGray;
  border-radius: 5px;
  padding-top: 10px;
  h1 {
    color: lightGray;
  }
}

.user-answer {
  width: 100%;
  border-radius: 5px;
  background: #413D3D;
  margin-bottom: 10px;
  color: black;
  h1 {
    color: black;
    padding: 5px;
  }
}

.user-specific {
  border-radius: 2px;
  outline: 1px solid #E9FCFC;
  h1 {
    margin: 5px;
  }
}

.greeting {
  h1 {
    color: black;
  }
  color: #413D3D;
  margin-top: 50px;
  margin-bottom: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.navbar-inner {
  border-radius: 0px;
  background-color: black;
  padding-top: 10px;
  a {
    color: white;
    padding: 10px;
  }
  a:hover {
    text-decoration: none;
    color: gray;
  }
}

.body-content {
  margin: auto;
}

// .fake-link {
//   color: black;
//   font-size: 12;
// }

// .fake-link:hover {
//   text-decoration: none;
//   color: gray;
//   cursor: pointer;
// }


.fake-link {
  color: white;
  padding: 10px;
}
.fake-link:hover {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}


.answer-body {
  font-size: 14px;
  padding: 10px;
  color: lightGray;
}

.answer-buttons {
  float: right;
}

.answer-header {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: lightGray;
}

.answer-form {
  input {
    float: right;
  }
}

.pretty-button {
  -moz-box-shadow:inset 0px 0px 0px -19px #ffffff;
  -webkit-box-shadow:inset 0px 0px 0px -19px #ffffff;
  box-shadow:inset 0px 0px 0px -19px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:19px;
  font-weight:bold;
  padding:8px 22px;
  text-decoration:none;
  text-shadow:1px 1px 1px #ffffff;
}.pretty-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}.pretty-button:active {
  position:relative;
  top:1px;
}


.comments {
  padding: 10px;
  color: gray;
  .comment-title {
    color: lightGray;
  }
}

.show-comments {
  padding: 10px;
}

.current-user-answered, .answered .current-user-not-answered {
  display: none;
}

.current-user-not-answered, .answered .current-user-answered {
  display: block;

}

.current-user-answer {
  background: #413D3D;
  padding: 10px;
  border-radius: 3px;
    textarea {
    resize: none;
    width: 90%;
    margin: 20px;
    height: 180px;
    vertical-align: center;
    border-radius: 3px;
    box-shadow: inset 0px 0px 30px 5px #ECE1EC;
  }
  input {
    float: right;
    margin-right: 20px;
    height: 20px;
    width: 80px;
    font-size: 12px;
    text-align: center;
  }
}




.comment-toggle, .comments-on.comments {
  display: block;
}

.comments, .comments-on.comment-toggle {
  display: none;
}
