<div class="new-suggestion">
  <div class="suggestion-tip">It costs 50 Internets to create a suggestion. You can also use your Internets to vote on others' suggestions
  </div>
  <%= form_for @suggestion do |f| %>
  <%= f.text_area :body %>
  <%= f.submit "Suggest!", :class => "flat-button" %>
  <% end %>
</div>



