<% if user_signed_in? %>
  <div class="container greeting bigbox" style="background: <%= current_user.color %>">
    <div class="span11">
      <h1>Hi, <%= current_user.username %>.</h1>
        <span class="greeting_info">
          <% if current_user.score > 0 %>
            You have
            <span id="current_user_score">
              <%= current_user.score %>
            </span>
            points to give (or take) away.
          <% else %>
            Answer questions to get more points.
          <% end %>
        </span>
    </div>
  </div>
<% else %>
  <div class="container greeting">
    <div class="span12">
      <h1 style="color: white"> Hi! </h1>
    </div>
  </div>
<% end %>