<% if user_signed_in? %>
  <div class="container greeting" style="background: <%= current_user.color %>">
    <div class="span11">
      <h1>Hi, <%= current_user.username %>.</h1>
        <span class="greeting_info">
          You have
          <span id="current_user_score">
            <%= current_user.score %>
          </span>
          points to give away.
        </span>
    </div>
  </div>
<% else %>
  <div class="container greeting">
    <div class="span12">
      <h1> Hi! </h1>
    </div>
  </div>
<% end %>